<%= nested_form_for @student do |f| %>
      
      <div class="form-group">
        <%= f.label :first_name %><br>
        <%= f.file_field :first_name %>
      </div>

      <div class="form-group">
        <%= f.label :last_name %>:
        <%= f.text_field :last_name %><br />
      </div>

      <div class="form-group">
        <%= f.label :email %><br>
        <%= f.file_field :email %>
      </div>

      <div class="form-group">
        <%= f.label :phone_number %>:
        <%= f.text_field :phone_number %><br />
      </div>

      <div class="form-group">
        <%= f.label :short_bio %><br>
        <%= f.file_field :short_bio %>
      </div>

      <div class="form-group">
        <%= f.label :linkedin %>:
        <%= f.text_field :linkedin %><br />
      </div>

      <div class="form-group">
        <%= f.label :twitter_handle %><br>
        <%= f.file_field :twitter_handle %>
      </div>

      <div class="form-group">
        <%= f.label :website %><br>
        <%= f.file_field :website %>
      </div>

      <div class="form-group">
        <%= f.label :resume %>:
        <%= f.text_field :resume %><br />
      </div>

      <div class="form-group">
        <%= f.label :github %>:
        <%= f.text_field :github %><br />
      </div>

      <div class="form-group">
        <%= f.label :photo %><br>
        <%= f.file_field :photo %>
      </div>

      <div class="form-group">
        <%= f.fields_for :skills do |skill| %>
          <%= skill.label :skill_name %>
          <%= skill.text_field :skill_name %><br />
        <% end %>
      </div>

      <div class="form-group">
        <%= f.fields_for :experiences do |experience| %>
          <%= experience.label :job_title %>
          <%= experience.text_field :job_title %><br />
          <%= experience.label :company_name %>
          <%= experience.text_field :company_name %><br />
          <%= experience.label :details %>
          <%= experience.text_field :details %><br />
          <%= experience.label :start_date %>
          <%= experience.text_field :start_date %><br />
          <%= experience.label :end_date %>
          <%= experience.text_field :end_date %><br />
        <% end %>
      </div>

      <div class="form-group">
        <%= f.fields_for :educations do |education| %>
          <%= education.label :skill_name %>
          <%= skill.text_field :skill_name %><br />
        <% end %>
      </div>

      <%= f.submit %>
<% end %>